/* 
* @Author: Marte
* @Date:   2017-09-15 10:29:39
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-15 13:52:08
*/
ul, ol, li {list-style: none;padding: 0;margin: 0;}
#main-content{background:#f0f4fb;}
.frame{background:#f0f4fb;}
.noDrop span{padding-left:5px;color:#ffffff;font-size: 16px;}
.listOne{background-color: #ffffff;box-shadow: 0 0 2px 2px #ebeff6;border-radius: 4px;}

td{text-align: center;font-size: 14px;color:#616b88;vertical-align: middle !important;}